

<div class="header_box">
    <h1>{{header}}</h1>
</div>


<div class = "content_row" style=" margin-top:0.3in;">
    <div class="description_par">
        {{{body}}}
    </div>
</div>

<a href="/api/auth/logout"> 
    <div class="info_box">
        <h2>Sign Out</h2>
    </div>
</a>

<div class="info_box">
    <h2>Homepage</h2>
</div>





