

<div class="header_box">
    <h1>{{header}}</h1>
</div>


<div class = "content_row" style=" margin-top:0.3in;">
    <div class="description_par">
        {{{body}}}
    </div>
</div>

<div class="button-grid">
    <a href="/api/users/profile" class="info_box"  data-token="{{member.token}}" id="profileLink" > 
        <h2>View Profile</h2> 
    </a>
    

    <a href="/map" class="info_box"> {{! will definitely have to change this route call eventually }}
        <h2>Live Safety Map </h2>
    </a>
    

    <a href="/friends" class="info_box"> 
        <h2>Friends</h2>
    </a>

    <a href="/communitypulse" class="info_box"> 
        <h2>Community Pulse</h2>
    </a>

</div>

