

<div class="header_box">
    <h1>{{header}}</h1>
</div>


<div class = "content_row" style=" margin-top:0.3in;">
    <div class="description_par">
        {{{body}}}
    </div>
</div>

<div class="info_box">
    <h2>Homepage</h2>
</div>





