

<div class="header_box">
    <h1>{{header}}</h1>
</div>


<div class = "content_row" style=" margin-top:0.3in;">
    <div class="side_box" style="background:#444444; border-radius: 30pt;border:16px solid #1B1B1B; ">
        <br>
        <h2 style="color: #dd1f19;">What</h2><br>
        <h2 style="color: rgb(235, 213, 23);">is</h2><br>
        <h1 style="color: #55eb55;">BC?</h1>
    </div>
    <div class="description_par">
        {{{body}}}
    </div>
</div>

<div class="button-grid">
    <a href="/api/auth/register" class="info_box"> 
    <h2>Get Started</h2>
    </a>

    <a href="/api/auth/login" class="info_box"> 
    <h2>Sign In</h2>
    </a>
</div>



<div class = "content_row" style=" margin-top:0.1in;">
    <img src="/images/person_food.png" alt="Person Made of healthy foods" class="med_pic" style="  position:absolute; right:1rem ; bottom: -25rem">

    <div class="description_par">
    <p>
        Click <b>Get Started</b> to sign up or sign into the system.
    </p>
    </div>
</div>

{{!-- <img src="/images/person_food.png" alt="Person Made of healthy foods" class="small_pic"> --}}



