<div class="header-inner">
  <p class="eyebrow-large">BiteCheck</p>
  {{#if showProfileButton}}
    <a class="profile-quick-link" href="/api/users/profile">
      Visit Profile
    </a>
  {{/if}}
</div>