{{!-- This file is the basis of all pages on the site! Making this code invalid will FUCK UP the whole site! --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/favicon2.ico" type="image/x-icon">  {{!-- Fav Icon for the tab --}}
    <link href="https://fonts.cdnfonts.com/css/red-hat-display" rel="stylesheet"> {{!-- This is the font we use on the slides (REd Hat Display), so I figured we'd use it --}}
</head>

<body>
    <header>
        {{header}}
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>